################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DefaultWebApplication
/DefaultWebApplication/obj
